
**Data Types and Structures Questions**

1. What are data structures, and why are they important?


Ans>> Data structures are specialized formats for organizing, processing, and storing data. They are essential for writing efficient code, enabling faster data access, optimized memory usage, and improved scalability.
Examples include lists, tuples, dictionaries, and sets in Python.

2. Explain the difference between mutable and immutable data types with examples?


Ans>> Mutable data types can be changed after creation.
Example:

In [ ]:

my_list = [1, 2, 3]
my_list[0] = 10  # This is valid
print(my_list)

[10, 2, 3]

Immutable data types cannot be changed once created.
Example:

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise a TypeError
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

Ans>>Lists and tuples are both sequence data types in Python that can store a collection of items. However, they have several key differences:

Mutability:
Lists are mutable, meaning their contents can be changed after creation (e.g., adding, removing, or modifying elements).
Tuples are immutable, so once they are created, their contents cannot be changed.

Syntax:
Lists are defined using square brackets, e.g., [1, 2, 3].
Tuples are defined using parentheses, e.g., (1, 2, 3).

Performance:
Tuples generally have slightly better performance than lists due to their immutability and fixed size, making them faster to access and iterate over.

Use Case:
Lists are ideal for storing dynamic data that might need to change during execution.
Tuples are preferred when storing constant data that should remain unchanged, or when using as keys in dictionaries due to their immutability.

4. Describe how dictionaries store data?

Ans>> Dictionaries store data as key-value pairs using a hash table under the hood. Each key is hashed, and the hash determines where the value is stored in memory, allowing for fast lookup, insertion, and deletion operations.

Example:

In [ ]:
dict1 = {"Name":"John", "Age":25, "City":"New York"}
print(dict1)

{'Name': 'John', 'Age': 25, 'City': 'New York'}

5. Why might you use a set instead of a list in Python?

Ans>>Sets are used when:

Duplicate values must be eliminated.

Fast membership testing is needed (average time complexity: O(1)).
They are unordered and do not maintain duplicates.

6. What is a string in Python, and how is it different from a list?

Ans>>A string is an immutable sequence of characters. Unlike lists, which can contain elements of various data types and be modified, strings can only contain characters and cannot be altered after creation.
Example:

In [ ]:

string = "hello"
string[0] = "H"  # Invalid

TypeError: 'str' object does not support item assignment

7. How do tuples ensure data integrity in Python?

Ans>> Tuples are immutable, meaning their elements cannot be modified once assigned. This immutability ensures data integrity by preventing accidental changes, making tuples suitable for fixed collections of items like coordinates or configuration values.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans>> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, enabling constant-time complexity (on average) for data retrieval, insertion, and deletion.

9. Can lists contain different data types in Python?

Ans>>Yes. Python lists are heterogeneous, meaning they can store elements of different data types.
Example:

In [ ]:


my_list = [1, "text", 3.14, True]
print(my_list)

[1, 'text', 3.14, True]

10. Explain why strings are immutable in Python?

Ans>> Strings are immutable to:

1.Ensure thread safety
2.Allow reuse through string interning
3.Enable their use as keys in dictionaries (hashable)

11. What advantages do dictionaries offer over lists for certain tasks?

Ans>>

*  Faster lookup and access time via keys
*  More semantic clarity through key-value associations
*  Efficient for representing structured data

12. Describe a scenario where using a tuple would be preferable over a list?

Ans>>Tuples are preferable when the data should not change, such as:

* Returning multiple values from a function
* Storing fixed configuration settings
* Using as keys in dictionaries (due to immutability)

13. How do sets handle duplicate values in Python?

Ans>> Sets automatically remove duplicate values. When you convert a list with duplicates into a set, only unique values are retained.
Example:

In [ ]:
my_set = set([1, 2, 2, 3])
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans>> For lists, in checks if a value exists.
For dictionaries, in checks if a key exists.

In [ ]:
3 in [1, 2, 3]  # True
'name' in {'name': 'Alice'}  # True

True

15. Can you modify the elements of a tuple? Explain why or why not.

Ans>> No. Tuples are immutable, meaning once created, their elements cannot be changed, added, or removed. Attempting to do so will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case?

Ans>> A nested dictionary is a dictionary where each value is another dictionary. It's useful for representing hierarchical data.
Example:

In [ ]:
employees = {
    "101": {"name": "Alice", "role": "Engineer"},
    "102": {"name": "Bob", "role": "Manager"}
}
print(employees)

{'101': {'name': 'Alice', 'role': 'Engineer'}, '102': {'name': 'Bob', 'role': 'Manager'}}

17. Describe the time complexity of accessing elements in a dictionary.


Ans>>Average case: O(1) – due to hash table implementation

Worst case: O(n) – in case of hash collisions (rare)

18.  In what situations are lists preferred over dictionaries?

Ans>>Lists are preferred when:

1.Order of elements matters

2.Data is sequential and does not require a key-value structure

3.Memory usage must be minimized (lists are lighter than dicts)

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans>>In Python versions < 3.7, dictionaries were unordered, meaning insertion order was not preserved. Since Python 3.7+, insertion order is preserved. However, conceptually, dictionaries prioritize key-based access over element position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans>> List:


Data retrieval is position-based (index-based).

You access elements using integer indices starting from 0.

Time complexity for accessing an element by index is O(1) (very fast).

In [ ]:

my_list = ['apple', 'banana', 'cherry']
print(my_list[1])  # Output: 'banana'

banana

 Dictionary:


Data retrieval is key-based.

You access elements using unique keys (not limited to integers).

Time complexity for key-based access is also O(1) on average, thanks to hash tables.

Example:

In [ ]:

my_dict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}
print(my_dict['b'])  # Output: 'banana'

banana

**Practical Questions**

In [ ]:
#1. Write a code to create a string with your name and print it.


my_name = "Sudiptaa"
print("My name is:", my_name)

My name is: Sudiptaa

In [ ]:
#2.Write a code to find the length of the string "Hello World"

text = "Hello World"
print("Length of the string is:", len(text))

Length of the string is: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase

text = "hello"
print(text.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"


sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]


my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]


numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']


letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]


nums = [10, 20, 30, 40, 50]
print(nums[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').


colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').


animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.


fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.


my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.


s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.


s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19.. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.


a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.


info = {"name": "Alex", "age": 28, "city": "Mumbai"}
print(info)

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.


profile = {'name': 'Bob', 'age': 22, 'city': 'New York'}
profile.pop('age')
print(profile)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.


d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.


import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[1, 11, 25, 31, 70]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.


words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30.Write a code to convert a list of strings into a set.


items = ['pen', 'book', 'pen', 'pencil']
unique_items = set(items)
print(unique_items)

{'book', 'pencil', 'pen'}